@page "/statistics"
<title>İstatistikler</title>

@if (isloaded)
{
    @*<div style="text-align: center; margin-top:auto;">
        <p id="p-istatistik">Toplam Grup<br>@stats.</p>
    </div>*@
    <div class="col-md-6" style="margin-top:5%;">
        <p id="p-istatistik-left">Toplam Kullanıcı<br>@stats.userCount</p>
        <table id="table-left">
            <caption style="color: #000; text-align: center; font-size: 20px;">En Çok Link Kısaltan 10 Kullanıcı</caption>
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Kullanıcı Adı</th>
                    <th>Kısaltılan Link Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @for (int j=0; j<stats.topUsers.Count;j++)
                {
					<tr>
						<td>@(j+1)</td>
                        <td>@stats.topUsers[j].username</td>
                        <td>@stats.topUsers[j].linkCount</td>
					</tr>
				}
            </tbody>
        </table>
    </div>
    <div class="col-md-6" style="margin-top:5%;">
        <p id="p-istatistik-right">Toplam Kısaltılan Link<br>@stats.shortLinkCount</p>
        <table id="table-right">
            <caption style="color: #000; text-align: center; font-size: 20px;">En Çok Tıklanan 10 Link</caption>
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Kısa Link</th>
                    <th>Oluşturan</th>
                    <th>Tıklanım Sayısı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>example.com</td>
                    <td>4517</td>
                </tr>
                @for (int j=0; j<stats.topLinks.Count;j++)
                {
					<tr>
						<td>@(j+1)</td>
                        <td>@stats.topLinks[j].shortLink</td>
                        <td>@stats.topLinks[j].username</td>
                        <td>@stats.topLinks[j].clickCount</td>
					</tr>
				}
            </tbody>
        </table>
    </div>

}
else
{
    <h1>Yükleniyor...</h1>
}

@code {
    bool isloaded = false;
    urele.Client.Model.Statistics stats;
    protected override async Task<Task> OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var _stats = await RunHttp.Get<urele.Client.Model.Statistics>("/Statistics");
            if(_stats != null)
            {
                stats = _stats;
				isloaded = true;
				await InvokeAsync(StateHasChanged);
            }
        }
		return base.OnAfterRenderAsync(firstRender);
	}

}
